/* REGOLE GENERALI */
body {
  font-family: 'Open Sans', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix {
  content: '';
  display: table;
  clear: both;
}

.fa-bars,
.fa-language {
  color: #3d3d3d;
}
/* FINE REGOLE GENERALI */

/* REGOLE HEADER */

/* Regole generali */

header .navbar {
  background: #fff;
  padding: 1% 0;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 100;
}

header .navbar .container {
  line-height: .7em;
  margin: 0 auto;
}

header .navbar .container ul li {
  display: inline-block;
}

header .navbar .container ul li a {
  text-transform: uppercase;
  color: #3d3d3d;
  font-size: .7em;
}

/* Fine regole generali */

/* Regole logo */

header .navbar .container .logo img {
  vertical-align: middle;
}

/* Fine regole logo */

/* Regole navbar */

header .navbar .container nav ul li {
  padding-left: 5%;
}

header .navbar .container nav ul li:last-child {
  margin-right: 2%;
}

header .navbar .container nav,
header .navbar .container .languages {
  text-align: right;
}

/* Fine regole navbar */

/* Regole lingue */
header .navbar .container .languages ul li {
  border-right: 1px solid #3d3d3d;
  padding: 0 3px;
}

header .navbar .container .languages ul li:last-child {
  border-right: 0;
  padding-right: 0;
}

/* Fine regole lingue */

/* INIZIO MEDIAQUERYS HEADER NAVBAR */

@media all and (max-width: 768px){

  header .navbar .container .logo {
    text-align: center;
  }

  header .navbar .container nav .burger-menu,
  header .navbar .container .languages .xs-languages {
    display: block;
    font-size: 1.4em;
    text-align: center;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  header .navbar .container .logo,
  header .navbar .container .languages {
    text-align: center;
  }

  header .navbar .container nav .burger-menu {
    display: block;
    font-size: 1.4em;
    text-align: center;
  }
}

/* FINE MEDIAQUERYS HEADER NAVBAR */

/* Regole jumbotron */

header .jumbotron {
  background-image: url('../img/hero-bg.jpg');
  background-size: cover;
  height: 554px;
  background-repeat: no-repeat;
  position: relative;
}

/* Fine regole jumbotron */

/* Regole teaser */

header .jumbotron .teaser {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  width: 100%;
}

header .jumbotron .teaser h1 {
  text-transform: capitalize;
  font-size: 3em;
}

header .jumbotron .teaser p {
  padding: 1.5em 0;
}

header .jumbotron .teaser .store {
  margin: 0 auto;
}

header .jumbotron .teaser .store .apple,
header .jumbotron .teaser .store .google {
  width: 50%;
  float: left;
  padding: 0 .2em;
}

/* Fine regole teaser */

/* INIZIO MEDIAQUERYS HEADER JUMBOTRON */

@media all and (max-width: 768px) {
  header .jumbotron {
    background-position: left;
    height: 50vh;
    font-size: .7em;
  }

  header .jumbotron .teaser .store .apple,
  header .jumbotron .teaser .store .google {
    width: 100%;
  }

  header .jumbotron .teaser a img {
    width: 30%;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  header .jumbotron .teaser .store .apple img,
  header .jumbotron .teaser .store .google img {
    width: 70%;
  }
}

/* FINE MEDIAQUERYS HEADER JUMBOTRON */

/* FINE REGOLE HEADER */

/* INIZIO REGOLE MAIN */

/* Inizio regole prodotti */

section.wrapper-items .container {
  padding: 2% 4%;
}

section.wrapper-items .container .items .item {
  width: calc(50% - 20px);
  padding: 20px;
  background-color: #fafafa;
}

section.wrapper-items .container .items .item:first-child {
  margin-right: 20px;
}

section.wrapper-items .container .items .item .item-text {
  text-align: center;
  padding-top: 40px;
  letter-spacing: 1px;
}

section.wrapper-items .container .items .item .item-text p {
  padding: 30px 0;
  font-weight: bold;
}

section.wrapper-items .container .items .item .item-text a {
  color: blue;
}

section.wrapper-items .container .items .item .item-image img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  background-color: #fafafa;

}
/* Fine regole prodotti */

/* INIZIO MEDIAQUERYS SEZIONE PRODOTTI */

@media all and (max-width: 768px) {
  section.wrapper-items .container .items .item {
    width: 100%;
    font-size: .7em;
  }

  section.wrapper-items .container .items .item:first-child {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  section.wrapper-items .container .items .item {
    max-width: 50%;
  }

  section.wrapper-items .container .items .item .item-text {
    font-size: .7em;
  }
}

/* FINE MEDIAQUERYS SEZIONE PRODOTTI */

/* Inizio regole how work */

section.how-work {
  background-image: url('../img/HelbizBanner.jpg');
  background-size: 100% 60%;
  background-repeat: no-repeat;
  /* width: 100%; */
}

section.how-work .container .title,
section.how-work .container .step {
  padding: 40% 1% 0 1%;
}

section.how-work .container .step h4 {
  padding: 3% 0;
}

section.how-work .container .step p {
  font-size: .7em;
}

section.how-work .container .image {
  padding-top: 5%;
}

section.how-work .container .image img {
  max-width: 100%;
}

/* INIZIO MEDIAQUERYS SEZIONE HOW WORK */

@media all and (max-width: 768px) {
  section.how-work {
    margin-bottom: 20px;
    background-size: cover;
    height: 30vh;
    position: relative;
  }

  section.how-work .container {
    position: absolute;
    top: 10px;
    left: 0;
  }

  section.how-work .container .title,
  section.how-work .container .step {
    width: 100%;
    padding: 4% 0 0 0;
    text-align: center;
  }

  section.how-work .container .title h2 {
    font-size: 1em;
  }

  section.how-work .container .step h4 {
    padding: 0;
    font-size: .9em;
  }

  section.how-work .container .step p {
    padding-bottom: 10%;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  section.how-work .container .image {
    padding-top: 8%;
    text-align: center;
  }

  section.how-work .container .title,
  section.how-work .container .step {
    padding: 30% 0 0 0;
    font-size: .8em;
  }

  section.how-work .container .image img {
    width: 60%;
  }
}

/* FINE MEDIAQUERYS SEZIONE HOW WORK */

/* Fine regole how work */

/* Inizio regole info */

section.info .container {
  padding: 0 4%;
}

section.info .container .wrapper-info {
  background-image: url('../img/ScooterHelbiz-2400.jpg');
  height: 398px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

section.info .container .info-teaser {
  width: 50%;
  color: #fff;
  text-align: center;
  padding: 0 10%;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  font-weight: bold;
}

section.info .container .info-teaser h2 {
  font-size: 2.5em;
  font-weight: normal;
}

section.info .container .info-teaser p {
  padding: 5% 0;
}

section.info .container .info-teaser a {
  color: #fff;
}

/* INIZIO MEDIAQUERYS SEZIONE INFO */

@media all and (max-width: 768px) {
  section.info .container {
    margin-bottom: 20px;
  }

  section.info .container,
  section.app-find .container {
    padding: 0;
  }

  section.info .container .wrapper-info {
    background-position: center;
  }

  section.info .container .info-teaser  {
    font-size: .8em;
  }

  section.info .container .info-teaser h2 {
    font-size: 1.5em;
  }

  section.info .container .info-teaser p {
    padding: 0;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  section.info .container .info-teaser {
    width: 30%;
    padding: 0 2%;
    font-size: .7em;
  }
}

/* FINE MEDIAQUERYS SEZIONE INFO */

/* Fine regole info */

/* Inizio regole app e find */

section.app-find .container {
  padding: 2% 4%;
}

section.app-find .container .app-find .app,
section.app-find .container .app-find .find {
  width: calc(50% - 10px);
  text-align: center;
  color: #fff;
  height: 398px;
}

section.app-find .container .app-find .app {
background: linear-gradient(#41566a,#252f38) 50% no-repeat;
position: relative;
overflow: hidden;
}

section.app-find .container .app-find h2,
section.app-find .container .app-find p {
  padding: 2% 0;
}

section.app-find .container .app-find a {
  color: #fff;
  padding: 0 1%;
}

section.app-find .container .app-find .app img {
  max-width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.app-find .container .app-find .app:first-child {
  margin-right: 20px;
}

section.app-find .container .app-find .find {
  background-image: url('../img/Cities-1500.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

/* INIZIO MEDIAQUERYS SEZIONE APP-FIND */

@media all and (max-width: 768px) {
  section.app-find .container .app-find .app,
  section.app-find .container .app-find .find {
    width: 100%;
    margin-bottom: 20px;
    font-size: .8em;
  }

  section.app-find .container .app-find .app img {
    margin-top: 20px;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  section.app-find .container .app-find .app,
  section.app-find .container .app-find .find {
    font-size: .7em;
  }

  section.app-find .container .app-find .app img {
    top: 90%;
  }
}

/* FINE MEDIAQUERYS SEZIONE APP-FIND */

/* Fine regole app e find */

/* Inizio regole sezione social */

section.social {
  background-image: url('../img/Social-Banner.jpg');
  height: 265px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 20px;
}

section.social .container .social-link {
  background: #fff;
  width: 25%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3% 5%;
  text-align: center;
}

section.social .container .social-link ul li {
  display: inline-block;
  font-size: 1.5em;
  padding-right: 7%;
}

section.social .container .social-link ul li:last-child {
  padding-right: 0;
}

section.social .container .social-link ul li a {
  color: #000;
}

/* INIZIO MEDIAQUERYS SEZIONE SOCIAL */

@media all and (max-width: 768px) {
  section.social .container {
    background-size: cover;
  }

  section.social .container .social-link {
    width: 90%;
    padding: 0;
    display: inline-block;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  section.social .container {
    height: 200px;
  }

  section.social .container .social-link {
    width: 20%;
    padding: 1%;
    font-size: .7em;
  }
}

/* FINE MEDIAQUERYS SEZIONE SOCIAL */

/* Fine regole sezione social */

/* FINE REGOLE MAIN */

/* REGOLE FOOTER */

footer {
  background: #000;
  padding: 5% 0 5% 10%;
  font-size: .8em;
}

footer .wrapper-footer {
  width: 90%;
  margin: 0 auto;
}

footer a {
  text-transform: capitalize;
}

footer .footer-top,
footer .footer-middle {
  margin-bottom: 6%;
}

/* Inizio regole footer top */

footer .footer-top h3 {
  color: #fff;
  text-transform: uppercase;
}

footer .footer-top ul li {
  padding: 4% 0;
}

footer .footer-top a {
  color: #696969;
}

/* Fine regole footer top */

/* Inizio regole footer middle */

footer .footer-middle {
  border-top: 1px solid #3d3d3d;
  border-bottom: 1px solid #3d3d3d;
  padding: 4% 0;
}

footer .footer-middle ul li {
  display: inline-block;
  padding-right: 4%;
  font-size: 1.5em;
}

footer .footer-middle ul li:last-child {
  padding-right: 0;
}

footer .footer-middle a {
  color: #fff;
}

/* Fine regole footer middle */

/* Inizio regole footer bottom */

footer .footer-bottom .col-lg-6:first-child {
  text-align: right;
}

/* Fine regole footer bottom */

/* INIZIO MEDIAQUERYS FOOTER */

@media all and (max-width: 768px) {
  footer {
    padding: 5% 0;
  }

  footer .footer-top img,
  footer .footer-middle ul li {
    margin-bottom: 4%;
  }

  footer .footer-top ul li {
    padding: 2% 0;
  }

  footer .footer-middle a {
    display: block;
    margin-bottom: 2%;
  }

  footer .footer-bottom img {
    padding: 0 2%;
  }
}

@media all and (min-width: 769px) and (max-width: 991px) {
  footer .footer-top img,
  footer .footer-middle ul li {
    margin-bottom: 4%;
  }

  footer .footer-middle a {
    display: block;
    margin-bottom: 4%;
  }

  footer .footer-bottom img {
    padding: 0 2%;
  }
}

/* FINE MEDIAQUERYS FOOTER */

/* FINE REGOLE FOOTER */
